<% if current_user.bookmarked_by?(onsen.id) %>
       <%= link_to destroy_bookmark_path(onsen), method: :DELETE, remote: true do %>
      <div class = "icon">
      <i class="fas fa-bookmark"></i>
      </div>
      <% end %>
      <%= onsen.bookmarks.count %>
      
<% else %>
      <%= link_to create_bookmark_path(onsen), method: :POST, remote: true do %>
      <div class = "icon">
     <i class="far fa-bookmark"></i>
      </div>
      <% end %>
      <%= onsen.bookmarks.count %>
      
<% end %>