<%= render partial: 'shared/page_title', locals: { page_title: "サウナ施設一覧" } %>
<% breadcrumb :onsens %>
<div class="onsen__wrapper">
  <%= render partial: 'onsens/onsen', collection: @onsens, as: 'onsen'%>
</div>
<%= paginate @onsens %>