// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post__wrapper{
  max-width: 720px;
  width: 100%;
}
.post__user__link{
  display: block;
}
.post__user__img:hover{
  opacity: 0.6;
}

// 新規投稿ページ

.post__container{
  max-width: 720px;
  width: 100%;
  margin: 80px auto 0;
  padding: 0 40px;
}
form{
  text-align: center;
}
.form__width[class]{
  width: 100%;
}
.post__submit{
  text-align: right;
}
.form__OnsenName[class]{
  height: 40px;
  margin-bottom: 10px;
}