// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.UserMainPage__container{
  max-width: 1020px;
  width: 100%;
  padding: 0 1.6rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.profile__body{
  width: 100%;
  background-color: #fff;
  padding: 1.8rem;
  border-radius: 16px;
}
.profile__container{
  max-width: 320px;
width: 100%;
}

.profile__name{
    font-size: 2rem;
    font-weight: 700;
}
.user__container{
  max-width: 700px;
  width: 100%;
  padding-left: 1.6rem;
}
.onsen_name{
  margin-bottom: 40px;
}
.profile__img__wrapper{
  margin-bottom: 1.6rem;
}
.profile__outer{
 margin-bottom: 2.4rem;
}
.profile__img{
  border-radius: 50%;
}
.header__profile__img{
  border-radius: 50%;
}
.profile__edit__btn{
width: 100%;
padding: 4px 0;
background-color: #8A8B8B;
color: #fff;
font-weight: 600;
text-align: center;
display: inline-block;
font-size: 16px;
font-weight: 600;
}

.onsen_svg{
width: 48px;
height: 48px;
background-image: url('');
}
#profile__edit{
  color: #fff;
  text-decoration: none;
}
/*サカツ一覧*/
.user__imgicon{
  margin-right: 4px;
}
.post__user__img{
  border-radius: 50%;
}
.sauna__minute__mark{
    background-color: #f68655;
}
.water__minute__mark{
      background-color: #6b99cf; 
}
.totonoi__minute__mark{
  background-color: #61C359;
}
.minute__mark__size{
    color: #fff;
    padding: 3px;
    border-radius: 50%;
    margin-right: 2px;
}
.user__name{
  font-size: 14px;
}
.user__post__header{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.user__post{
  padding: 16px 20px 32px;
  border-top: 1px solid #E4E4E4;
}
.user__post:first-child{
  border-top: none;
}
.user__totonoi__link{
  font-size: 18px;
  font-weight: 800;
}
.user__sakatu__data{
  display: flex;
  align-items: center;
  padding-top: 10px;
  color: #333;
}
.minute__part{
  margin-left: 8px;
  font-size: 1rem;
}
.minute__number{
  font-family:'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}
/* タブメニュー */
.user__tab__wrapper{
  background-color: #fff;
  border-radius: 16px;
}

.tab-menu {
  display: flex;
}

.tab-menu__item {
  box-sizing: border-box;
  width: 50%;
}


.tab-trigger { /* label */
  text-align: center;
  cursor: pointer;
  display: block;
  padding: 10px;
  color: rgba(0,0,0,0.36);
  border-bottom: 0;
  font-size: 16px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  position: relative;
}

.tab-trigger.is-active {
  border-bottom: 2px solid #f8ad8f;
  color: rgba(0,0,0,0.90);
  font-weight: 700;
}


/* タブコンテンツ */
.tab-contents {
  border-top: 1px solid #ccc;
  padding: 1.5rem 0;
}
.tab-content__item {
  box-sizing: border-box;
  display: none;
  text-align: left;
}
.tab-content__item.is-active {
  display: block;
  animation: fade 0.5s ease;
}
@media (max-width:900px){
  .UserMainPage__container{
flex-direction: column;
padding-top: 1.5rem;
}
.user__container{
  margin-top: 2.4rem;
  padding-left: 0;
  max-width: 900px;
}
.profile__container{
  max-width: 960px;
}
.profile__outer{
  display: flex;
  align-items: center;
}
.profile__img__wrapper{
  margin-right: 5%;
  margin-bottom: 0;
}
}

.temperature__wrapper{
  display: flex;
}
.WentOnsen{
  display: flex;
  padding: 18px 7px;
  border-top: 1px solid #eee;
}
.WentOnsen:first-child{
  border: none;
}

.WentOnsen__img{
  flex: 0 0 37%;
  margin-right: 12px;
}
.WentOnsen__text{
  flex: 1 1 auto;
}
.WentOnsen__name{
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}