
html,
input,
textarea,
select,
button {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

html {
  color: #000;
  font-size: 62.5%;
  line-height: 1.6;
  word-break: break-all;
  position: relative;
}

@media screen and (min-width:520px) and (max-width:1260px) {
  html{
    font-size: 0.625vw;
  }
}


body {
  background-color: #EDEBE8;
  margin-top: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
figure {
  margin: 0;
}

img {
  border: 0;
  margin: 0;
  vertical-align: top;
  max-width: 100%;
}

p {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
a{
  text-decoration: none;
  transition: .3s ease;
}

// a {
//   color: #000;
//   text-decoration: none;
//   transition: $transition01;
// @include pc {
//     &:hover {
//       opacity: .8;
//     }
//   }
  
// }

// input,
// select,
// textarea,
// button {
//   margin: 0;
//   padding: 0;
//   background: none;
//   border: none;
//   border-radius: 0;
//   outline: none;
//   appearance: none;
// }

// select::-ms-expand {
//   display: none;
// }

// textarea {
//   resize: vertical;
// }

// @include placeholder(#ccc);

// button {
//   border: none;
//   cursor: pointer;
// }

// label {
//   cursor: pointer;
// }

// table {
//   border-collapse: collapse;
// }

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
