
$bl: #fef6e4;


html,
input,
textarea,
select,
button {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

html {
  color: #000;
  background: #fff;
  font-size: 62.5%;
  line-height: 1.6;
  word-break: break-all;
}

@media(max-width:1260px) {
  html{
    font-size: 0.625vw;
  }
}

body {
  background-color: $bl;
  margin-top: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  border: 0;
  margin: 0;
  vertical-align: top;
  max-width: 100%;
}

p {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
a{
  text-decoration: none;
}

// a {
//   color: #000;
//   text-decoration: none;
//   transition: $transition01;
// @include pc {
//     &:hover {
//       opacity: .8;
//     }
//   }
  
// }

// input,
// select,
// textarea,
// button {
//   margin: 0;
//   padding: 0;
//   background: none;
//   border: none;
//   border-radius: 0;
//   outline: none;
//   appearance: none;
// }

// select::-ms-expand {
//   display: none;
// }

// textarea {
//   resize: vertical;
// }

// @include placeholder(#ccc);

// button {
//   border: none;
//   cursor: pointer;
// }

// label {
//   cursor: pointer;
// }

// table {
//   border-collapse: collapse;
// }

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

// main {
//   display: block;
// }

// .inner-block {
//   position: relative;
//   max-width: 1040px;
//   padding: 0 30px;
//   box-sizing: content-box;
//   @include pc {
//     margin: 0 auto;
//   }
// }

// #wrapper {
//   position: relative;
// }

// dl,dt,dd {
//   padding: 0;
//   margin: 0;
// }

// @include pc {
//   .sp {
//     display: none !important;
//   }

//   a[href^="tel:"] {
//     pointer-events: none;
//   }

//   a,
//   a::before,
//   a::after,
//   button {
//     transition: $transition01;
//   }
// }


// //独自font-family読み込み
// //@font-face {
// //  src: url(../font/NotoSansJP-Medium.woff) format("woff"),
// //    url(../font/NotoSansJP-Medium.otf) format("opentype");
// //  font-family: "Noto Sans JP";
// //  font-weight: 500;
// //  font-display: swap;
// //}
// //@font-face {
// //  src: url(../font/NotoSansJP-Bold.woff) format("woff"),
// //    url(../font/NotoSansJP-Bold.otf) format("opentype");
// //  font-family: "Noto Sans JP";
// //  font-weight: 700;
// //  font-display: swap;
// //}


// //SVGスプライトリセットCSS
// .c-svg {
//   display: inline-block;
//   fill: currentColor;
//   vertical-align: top;
// }

// /*------------------------------------------------------------------------------
//   reset SP
// ------------------------------------------------------------------------------*/
// @include sp {
//   body {
//     font-size: 14px;
//     position: relative;
//     -webkit-appearance: none;
//     -webkit-text-size-adjust: 100%;
//   }

//   .inner-block {
//     padding: 0 10px;
//     width: auto;
//   }

//   #wrapper {
//     min-width: 320px;
//     position: relative;
//     overflow: hidden;
//   }

//   input[type="submit"] {
//     -webkit-text-size-adjust: 100%;
//   }

//   input,
//   select,
//   textarea {
//     font-size: 16px !important;
//   }

//   .pc {
//     display: none !important;
//   }
// }
