.header{
  width: 100%;
  padding: 21px 0;
}

.header__inner{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title img{
  width: 172px;
  height: 50px;
}

#signup__link{
  width: 100px;
  display: inline-block;
  background-color: #F6B352;
  color: #fff;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 0.8rem;
  padding: 10px 0;
}
#signin__link{
  width: 100px;
   font-size: 14px;
  display: inline-block;
  background-color: #fff;
  color: #F68655;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  padding: 10px 0;
  text-decoration: none;
  border-radius: 0.8rem;
}
.hamburger__btn{
  display: none;
}
.hamburger{
  display: none;
}

.nav__list{
  display: flex;
}
.nav__item{
  margin-left:1.5rem;
}