.header{
  width: 100%;
  padding: 21px 0;
}

.header__inner{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title img{
  width: 172px;
  height: 50px;
}


.nav__item--link{
  width: 100px;
  display: inline-block;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border-radius: 0.8rem;
  padding: 10px 0;
}
#sighup__link{
 background-color: #F6B352;
 color: #fff;
 text-decoration: none;
}

#signin__link{
  background-color: #fff;
  color: #F68655;
  text-decoration: none;
}

@media (max-width:520px){
.nav__item--link{
  width: 65px;
  font-size: 12px;
}

.header__title img{
width: 100px;
height: 29px;
}
}
.hamburger__btn{
  display: none;
}
.hamburger{
  display: none;
}

.nav__list{
  display: flex;
}
.nav__item{
  margin-left:1.5rem;
}