.alert{
  padding: 7px 0;
  background-color: #ff8e86;
}
.notice{
  padding: 7px 0;
  background-color: #77B778;
}

.notifications{
  position: absolute;
  color: #fff;
  font-weight: 800;
  font-size: 14px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  z-index: 99;
  top: 0;
}
.Allcontents__wrapper{
  position: relative;
}