<button id="openModal">モーダルを開く</button>
   <!-- モーダルエリアここから -->
 <section id="modalArea" class="modalArea">
   <div id="modalBg" class="modalBg"></div>
   <div class="modalWrapper">
     <div class="modalContents">
       <p>ここに投稿入る</p>
     </div>
     <div id="closeModal" class="closeModal">
       ×
     </div>
   </div>
 </section>