    <div class="user__sakatu__data">
              <i class="far fa-clock fa-2x"></i> 
              <div class="sauna__minute minute__part">
                    <span class ="sauna__minute__mark minute__mark__size">サ</span><span class="minute__number"><%= post.sauna_one %></span>分
               </div>
               <div class="water__minute minute__part">
                <span class="water__minute__mark minute__mark__size">水</span><span class = "minute__number"><%= post.water_one %></span>分
               </div>
               <div class="totonoi__minute minute__part">
                <span class="totonoi__minute__mark minute__mark__size">外</span><span class="minute__number"><%= post.totonoi_one %></span>分
               </div>
          </div>